# Introduction to Python

## What is Python?


Python is an **interpreted, high-level general-purpose programming language**. 
 
- **Interpreted:** code instructions are being directly executed without the need to compile code to machine language

- **High-level:** Programming languages with high abstraction from the computer language (i.e 1&0).

- **general-purpose:** Program used to write software in various applications and domains.

### The Zen of Python
Python was invented in 1990 by Guido van Rossum and was specifically designed for programmers (not computers). 

Python's design philosophy emphasizes code readability with its notable use of significant indentation. Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.

> So I set out to come up with a language that made programmers more productive, and if that meant that the programs would run a bit slower, well, that was an acceptable trade-off - > inventor (1990)  Guido van Rossum

In [ ]:
import this

## Running the Python interperter

If you are using the recommended Jupyter Lab, then you can eaisly access a terminal in the same window as this notebook

We can start an interactive Python **interpreter** session by typing the following 

```bash
#  the $ indicates the command is run in a shell
$ python
```

We can see where this Python executable is located on our machine using the bash program `which`:

In [1]:
#  use ! to run bash/shell code in the notebook directly

And what version of Python we are using by running Python with a command line argument:

In [2]:
#  use ! to run bash/shell code in the notebook directly

# Python development environment

## iPython

IPython = Interactive Python 
- command shell for interactive computing
- IPython is what runs in Jupyter

## Python development environments (IDEs)

An IDE is where you develop your code. 
In Python, we run code in 2 different ways: 
- iPython: lets you run small snippets of code directly
- Python: script mode, runs entire programs

## Using Python
Python works with (mainly) 2 different things at the lowest level:
1. Data types
2. Functions

Data types store data. Functions act on or change those bits of data.
We name different <i> instances </i> of those data types and save them as variables to make our code easier to read and work with.

## Object Oriented Programming (OOP)
A programming paradigm that relies on the concept of **classes** and **objects**. It is used to structure a software program into simple, reusable pieces of code blueprints (usually called classes), which are used to create individual instances of objects. 

## Everything is an Object in Python!!!
A variable (a = 3) refers to an object (3) in memory and relays a label to it (a).

Objects have an identity, type and value

Some objects are mutable while others are not.

### Mutable objects
mutable object can change its state or contents 

list, dict, set, byte array

### Unmutable objects

int, float, complex, string, tuple, frozen set [note: immutable version of set], bytes

## Data Types - Numbers
There are 2 different data types for holding numeric values in python - floats and integers.
Python can be used just like a calculator to work on these numbers.

We can use the typical operators we know `(+, *, /, etc.) ` to perform math operations.

NOTE: `=` in python is used to assign a variable to a name. It is NOT necessary for doinga math operation.

Python will complete the operations based on correct order of operations.

We can do exponentiation:

The modulo (`%`) operator gives us the remainder after division:

This can be used to check if a number is even:

what do we mean by every thing in python is an object?

In [11]:
x = 10

In [12]:
y = x

are x and y referring to the same object? remember every object has an id

In [13]:
id(x)

4542053280

In [14]:
id(y)

4542053280

if we now change x what happens? to y?

In [15]:
x is y

True

In [16]:
x = x + 1

In [17]:
x is y

False

## Data Types - Booleans

Many expressions in Python have a "truth value" and evaluate to one of the two boolean values.
- values which are evaluated to `True` or `False`

## Conditionals
Booleans can be used in conditional commands. 
Conditional commands work just like the "IF..THEN..".


Try changing the value of X in the example below:

We can add almost infinite layers to our conditional by adding `elif` to the conditional block

## Comparisons
a double equals sign is used to compute comparisons in Python

The not equal sign i !=

## Logical operators

`and`, `or`, `not`

& and | how are they different then and and or?

In [37]:
9 and 10

10

In [38]:
10 and 9

9

In [39]:
9 & 10

8

In [41]:
10 & 9

8

## Datatypes: List
A list in python is a collection of datapoints. It is created with brackets `[]` or using `list()`. 
We can use **selectors** to select specific items within the list.

Selectors are called after the list using `[]`. PYthon starts counting at 0. To get the first element of the list then, we need to use 0 inside the selector. To get the second item, we would put a 1 inside the selector. 

We can also start from the back of the list, using -1. Then every positional element we want to get after the last one, we subtract one further. For example, if we want to get the 2nd-from-last element, we could select this element by putting -2 in the selector.

# Loops
In Python (and programming in general), we'll find many times when we want to do the same calculation over multiple values. This is what loops are for. They allow us to iterrate through lists, or rows in a table of data. 

### `for`

We can iterate through any object that has multiple smaller objects within it, like a list. 
A list contains multiple smaller elements within it.

A useful tool in python exists for making increasing 'counting-style' lists. This is called `range`. With range, the programmer enters the value at which they want the list to start and stop, and the 'step' of the list. Normally this would be 1. Setting the step to 2 counts off by skipping the intermediary number.

## methods

Objects may have methods associated with them.

for example list objects has several methods:
https://www.w3schools.com/python/python_ref_list.asp

In [46]:
a = [1, 4, 5, 2]
a.sort()
print(f"after sorting a equals: {a}")

a.pop()

print(f"after popping one element a is no{a}")

after sorting a equals: [1, 2, 4, 5]
after popping one element a is no[1, 2, 4]

Try a few other methods for list objects:

Methods are like functions **BUT**## objects recap

![alt text](pics/python_obj.png "Object in python") they must be called on an object.

## Data Types: Strings

String data types hold text data. If a number appears in a string, it isn't treated as a number (can't be added, multiplied, etc.).
They can be written in multiple ways:

Can use `"`, `'` or `str()`

Files are just big lists of characters

`\n` in the newine character

Multiple line strings:

Strings next to each other are joined:

This can be useful for multi line strings:

We can add strings together (called concatenation):

And multiply them:

What happens when we try to multiply this string?:

## Strings are iterable

We can use the builtin `len` to measure the number of characters in a string:

We can see some of the other functionality available on the `str` object using `dir`:

## Exercises

Write a program to print out:

```
*****                                                                  
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *  
```

It might be useful to know you can do

`'*' * 2 = '**'`

`'*' + ' ' = '* '`


`'\n'` makes a line break in python

Write a program to print:
```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

## String formatting

There are many formatting tricks in Python to control how strings appear. 
Most formatting commands involve the `{}` curly brackets.

We can control the formatting of decimal places

## String stripping

A common operation is removing trailing whitespace:

Related is to remove characters from the string - this can be done by replacing with `''`

## `in`

A way to check if an object exists in an iterable using `in`.  As strings are iterable, this syntax works with strings:

## Datatypes: Dictionary

Dictionaries are a handy way to keep track of data in key-value pairs. 
`{key1: value1, key2: value2}`

Let's make a list of dictionaries:

In [81]:
data = [
    {'author': 'F. SCOTT FITZGERALD', 'text': 'Action is character'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'Every man is my superior in some way. In that, I learn of him'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate, to have it make some difference that you have lived and lived well'},
    {'author': 'Ralph Waldo Emerson', 'text': 'Every man alone is sincere.  At the entrance of a second persion, hypocrisy beings'},
    {'author': 'Majjha Nikaya', 'text': 'This is, because that is.  This is not, because that is not.  This is like this, because this is like that'}
]

We can select our first quote dictionary:

We can iterate over the keys:

And the same for the values:

We can then use the dictionaries to make a DataFrame

In [86]:
import pandas as pd

                author                                               text
0  F. SCOTT FITZGERALD                                Action is character
1  RALPH WALDO EMERSON  Every man is my superior in some way. In that,...
2  RALPH WALDO EMERSON  The purpose of life is not to be happy. It is ...
3  Ralph Waldo Emerson  Every man alone is sincere.  At the entrance o...
4        Majjha Nikaya  This is, because that is.  This is not, becaus...

## Datatypes: Tuples

Tuples are also a collection type. It is ordered and unmutable

## Datatypes: set

set is also a collection type. It is unordered and un-indexed.

What are some methods for sets?

## Mutable Vs. Immutable types

![alt text](pics/mutable.png "Mutable vs. Unmutable")

## Exercises:

Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

Should display "Red Black"

Sum all the items in the following list:
x = [1, 2, 3, 7, 12]

Get the maximum number from a list: y = [-10, 6, 8, 14]

Check if a list is empty or not.

For list p = [ ], should print "True".

For list q = [1, 2, 3, 4] should print "False".

Add the {key: value} pair `{"Susan: 43}` to the dictionary `ages = {"Joe": 50, "Gretchen": 31}`